.page{
	margin:auto 15px;
	
	.head{
		margin-bottom: 30px;
		padding: 10px;
		position: relative;
	}

	.content{
		position: absolute;
		bottom: -100px;


		.change-image{
			width: 30%;
			height: 30%;
			float: right;	
		}

		.change-text{
		text-align: center;
		font-family: Impact;
		color: violet;
	
		}
	}
	

}